<launch>
    <node name="diff_drive_go_to_goal" pkg="diff_drive"
        type="diff_drive_go_to_goal" output="screen">
    <param name="~rate" value="20" />
    <param name="~kP" value="0.5" />
    <param name="~kA" value="1.0" />
    <param name="~kB" value="-0.8" />
    <param name="~max_linear_speed" value="1" />
    <param name="~min_linear_speed" value="0.05" />
    <param name="~max_angular_speed" value="0.5" />
    <param name="~min_angular_speed" value="0.1" />
    <param name="~goal_linear_tolerance" value="0.15" />
    <param name="~goal_angular_tolerance" value="1" />
    <param name="~forwardMovementOnly" value="false" />
    <remap from="cmd_vel" to="/jackal_velocity_controller/cmd_vel" />
  </node>
</launch>